@model SiteCore.Library.UI.Models.DetailsBookViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model.Books)
        {
        <div class="form-group">
            <label class="control-label">Title</label>
            :  @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="form-group">
            <label class="control-label">Author</label>
            :   @Html.Encode(item.AuthorList)
        </div>
        }
        </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
