@model SiteCore.Library.BAL.Entities.Book

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            : @Model.Title
        </div>
        <div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            : @Model.Author
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
